*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
header{
    background: #043E51;
  background-image: url(../img/bg.png);
  
    /* background-color: #08546C; */
    }
ul{
    list-style-type: none;
    /* display: flex; */
}
a{
    text-decoration: none;
}
.header-blok{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 54px;
    padding-bottom: 50px;
}
.cont{
    display: flex;
    justify-content: ;
    align-items: center;
    /* padding-top: 54px; */
}
.cont-item{
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    padding-left: 5px;
    font-weight: 700;
    line-height: normal;
}






nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px;
    /* justify-content: space-between; */
}
.nav-list{
    display: flex;
    flex-wrap: wrap ;
    gap: 50px;
}
.nav-item{
   
}
.nav-link{
    color: #A1B5BB;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    transition: all 0.4s;
}
.nav-link:hover{
    text-decoration: underline;
    color: #FFF;
}
.nav-but{
    display: flex;
    align-items: center;
    padding: 14px 30px;
    border-radius: 25px;
    background: #145E76;
    border: none;
    color: #FFF;
    transition: all 0.3s;
}
.nav-but:hover{
    background-color: #FFF;
    color:#145E76;
}





/* main start */
.site-hero{
    
    background: url(../img/bg.png), #043E51 ;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    /* text-align: center; */
    padding-top: 108px;
    padding-bottom: 240px;
}

.cont-hero{
    padding: 280px 100px 268px 350px;
    background-image: url(../img/cont-petir.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.hero-but{
    padding: 16px 30px;
    border-radius: 25px;
    background: #145E76;
    border: none;

    color: #FFF;
    font-family: Schoolbell;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hero-but:hover{
    background-color: #FFF;
    color: #145E76;
}
.blok-hero-titel{
    padding-top: 40px;
    color: #FFF;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 125% */
}
.blok-hero-item{
    padding: 30px 80px 30px 0;
    color: #849499;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px; /* 160% */
}
.blok-link{
    padding: 16px 35px;
    color: #B6CDD4;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.8px; /* 160% */
    border-radius: 25px;
    transition: all 0.3s;
}
.blok-link:hover{
    color: #FFF;
    background: #FFA63A;
}

/* section-cob start*/
.cob{
    
    position: relative;
    top: -130px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 73px 80px 0px rgba(0, 0, 0, 0.06);
}
.cobs{
    text-align: center;
    padding: 64px;
}
.cobs1-blok{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 200px;
}
.cobs-titel{
    padding-bottom: 50px;
    color: #265A6A;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 22.4px;
}
.cobs-sapn{
    color: #08546C;
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 22.4px; 
}
.cobs-list{
    color: #08546C;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.4px; 
}
/* section-cob end */
/* section-post */
.post-fix{
    text-align: center;
}
.fix-list{
    color: #265A6A;
    font-family: Schoolbell;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px; /* 93.333% */
    text-decoration-line: underline;
    padding-bottom: 30px;
}
.fix-titel{
    color: #08546C;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 133.333% */
}
.fix1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    /* text-align: center; */
    padding: 70px 0 ;
}
.fixs{
    padding: 45px 5px;
    transition: all 0.4s;
    background: #FFF;
box-shadow: 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05);
   cursor: pointer;

}
.fixs:hover{
    background-color: #08546C;
    color: #FFF;

}
.fixs:hover h2{
    color: #FFF;
}
.fixs:hover p{
    color: #FFF;
}
.fi1{
    padding: 50px 0;
}
.fixs-titel{
    padding: 18px ;
     
    color: #0F1221;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.fixs-list{
    padding: 18px;
    color: #696969;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25.6px; /* 160% */
}
.fixs-img{
    padding: 15px;
    transition: all 0.4s;
}
.fixs:hover img{
    border-radius: 50%;
    /* border-color: #FFA63A; */
    background-color: #FFA63A;
}


/* section-post edn */
/* section-dok strat */

.blok-dok{
    text-align: center;
}
.blok-dok-titel{
    color: #08546C;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 56.25px;
}
.blok-dok-list{
    padding-top: 10px;
    color: #757575;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
    padding-bottom: 60px;
}
.srk-titel{
    padding: 20px 20px 20px 0;
    color: #08546C;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 28.8px; /* 96% */
}
.srk-list{
    padding-bottom: 20px;
    color: #757575;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25.6px; /* 160% */
}
.srk-chiziq{
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
.srk-chiziq:hover{

    color: #FFA800;
}
.site-b1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 140px;
    padding-bottom: 40px;
}
.srk{
    /* padding-top: 60px;    */
    max-width: 400px;
}

/* section-dok end*/


/* section rectangle start */
.rectangle-site{
    background: url(../img/bg.png), #043E51 ;
}
.blok-gold{
    padding-top: 102px;
    padding-bottom: 102px;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.shoh-list{
    color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 25.6px; /* 160% */
padding-bottom: 33px;
}
.shoh-span{
    color: #AABFC6;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25.6px; /* 160% */
}
.hil-gold12{
  padding-right: 55px;
}
.shoh-img{
    padding-bottom: 32px;
}
.shoh-span:hover{
    color: #FFF;
}
/* section rectangle  end*/
/* main end */
/* footer start */
.goold{
    padding-top: 105px;
    padding-bottom: 100px;
    
}
.foot{
     display: flex; 
     justify-content: space-between;
     gap: 150px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            */
}
.foot-titel{
    padding-bottom: 15px;
    color: #08546C;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 116.667% */
}
.foot-item{
    padding: 10px 0 7px 0;
}
.foot-item{
    color: #757575;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
}
.blok-foot-ilan{
    display: flex;
    align-items: center;
    color: #08546C;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.foot-link{
    color: #787878;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
}
.foot-link:hover{
    color: #08546C;
}
.fo{
    padding-bottom: 100px;
}
.foot-logo-img{
    padding-left: 5px;
}
/* footer end */